.containerMap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#map {
    height: 50vh;
    width: 90vw;
}

.IconClick {
    fill: #d58621
}

.IconHere {
    fill: rgb(111, 111, 231)
}